[submodule "modules/OSBot-Utils"]
	path = modules/OSBot-Utils
	url = git@github.com:owasp-sbot/OSBot-Utils.git
[submodule "modules/cbr-shared"]
	path = modules/cbr-shared
	url = git@github.com:the-cyber-boardroom/cbr-shared.git
